@define-color background {background};
@define-color surface {surface};
@define-color surface_variant {surface_variant};

@define-color border {border};
@define-color border_focused {border_focused};

@define-color on_background {on_background};
@define-color on_surface {on_surface};
@define-color on_surface_variant {on_surface_variant};

@define-color success {success};
@define-color info {info};
@define-color warning {warning};
@define-color error {error};

@define-color on_success {on_success};
@define-color on_info {on_info};
@define-color on_warning {on_warning};
@define-color on_error {on_error};

@define-color accent {accent};
